Custom escape sequences for Unicode characters in JSON

This was initially found by @rzen and turns out to be a VERY common problem.

As per ECMA-404/RFC-7159:
> All Unicode characters may be placed within the quotation marks, except for the characters that must be escaped: quotation mark, reverse solidus, and the control characters (U+0000 through U+001F).

This means that two Unicode whitespace characters U+2028 (Line Separator) and U+2029 (Paragraph Separator) are valid in JSON string.

This does not comply with [ECMA-262 Section 7.3 Line Terminators](http://www.ecma-international.org/ecma-262/5.1/#sec-7.3), which becomes a problem when JSON parser is a browser.

Luckily Jackson provides an extension point for custom escape mappings via com.fasterxml.jackson.core.io.CharacterEscapes (see com.fasterxml.jackson.core.JsonFactory#setCharacterEscapes).

That said, it would be nice to provide a similar extension point for LR users, that are using non-compliant JSON parsers.

@andrus, please take a look at my patch.

Per our offline conversation, we can stick with a single behavior that would *read* either escaped or unescaped Unicode whitespace characters, but will always escape such chars on *write*. Hopefully this will allow us to achieve maximum compatibility with clients without any extra settings.